<!-- Author: Carolyn C -->
<% provide(:title, "About Student Art") %>
<% if logged_in? %>
	<%= render 'layouts/navbar' %>
<% else %>
	<%= render 'layouts/navbar_logout' %>
<% end %>

<div class="container">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1 content-col">

		<!-- page header -->
		<div class="page-header vertical-align geogem-page-header">
			<div class="col-xs-11">
				<h2>About student art<small> - artwork contributed to GeoGem</small></h2>
			</div>
			<div class="col-xs-1">
				<div class="page-header-icon i-purple" title="About student art in GeoGem" >
					<span class="fa fa-2x fa-fw fa-paint-brush"></span>
				</div>
			</div>
		</div>

		<!-- About text -->
		<div class="row content-text">
			<br>
			<p>
				The GeoGem logout screen features artwork by a student with autism.
			</p>	
			<p>
				The image is happily chosen at random from a gallery of artwork sent to us.
			</p>
			<br>
			<p>
				You can send us the artwork of your student(s). We will happily add it to our gallery.
			</p>
			<p>
				Just email an image (any size or shape, we'll edit) and the student's name (or nickname) to:
			</p>
			<p class="about-art-signature">
				 Prof Bill, North Central College<br>
				<a href="mailto:wtkrieger@noctrl.edu">wtkrieger@noctrl.edu</a>
			</p>

			<p> Thank You!</p>
			<div class="about-art-bottom-pad"></div>
		</div>   <!-- row -->

	</div>   <!-- content-col-->
</div>   <!-- container -->
