<!-- Author: Carolyn C -->
<% provide(:title, "About Student Art") %>
<% if logged_in? %>
	<%= render 'layouts/navbar' %>
<% else %>
	<%= render 'layouts/navbar_logout' %>
<% end %>

<div class="container">
	<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 content-col">

		<div class="page-header vertical-align">
			<div class="col-xs-11">
				<h2>About student art<small> - artwork contributed to GeoGem</small></h2><!-- Dynamically fills in with school id -->
			</div>
			<div class="col-xs-1 center-block">
				<div class="header-sq i-lavender" title="About out student art">
					<span class="fa fa-paint-brush fa-3x teacher-icon"></span>
				</div>
			</div>
		</div><!--End page header-->

		<!-- Start Text -->
		<div class="row content-text">
			<br>
			<p>
				The GeoGem logout screen features artwork by a student with autism.
			</p>	
			<p>
				The image is happily chosen at random from our gallery of student art.
			</p><br>
                  You can send us the artwork of your student(s). We would love to add it to our gallery.
			</p>
			<p>
                Just email an image (any size or shape, we'll edit) and the student's name (or nickname) to:
			</p>
			<p style="padding-left: 40px;">
				 Prof Bill, North Central College<br>
				<a href="mailto:wtkrieger@noctrl.edu">wtkrieger@noctrl.edu</a>
				<br><br>
			</p>
			<br>
			<p> Thank You</p>
			<!-- End Text -->	
			<!-- bottom padding -->
			<p style="padding-bottom: 100px;"></p>
		</div>   <!-- row -->
	</div>
</div><!--end content-col-->
</div><!-- end container -->