<body>
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
            <!--page header -->
            <div class="page-header vertical-align">
                <div class="col-xs-11">
                    <h2>Analysis <small> Charts for <%= @student.full_name %> </small></h2><!--Dynamically fills in with school id -->
                </div>
                <div class="col-xs-1 center-block">
                    <div class="header-sq <%= icon_color(@student) %>" title="Analysis">
                        <span class="fa fa-bar-chart fa-3x teacher-icon"></span>
                    </div>
                </div>
            </div><!--End page header-->
            <div class="row-xs-2 text-center">
    	    	<h4>Coming Soon! Charts!</h4>
	    </div><!--end row-->
        </div>
    </div>  
</body>
