<body>
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
            <!--page header -->
            <div class="page-header vertical-align">
                <div class="col-xs-11">
                    <h2>Analysis <small> Reports for <%= @student.full_name %> </small></h2><!--Dynamically fills in with school id -->
                </div>
                <div class="col-xs-1 center-block">
                    <div class="student-page-header-icon <%= icon_color(@student) %>" title="Analysis">
                        <span class="fa fa-file-text-o fa-3x"></span>
                    </div>
                </div>
            </div><!--End page header-->
            <div class="row-xs-2 text-center">
                <form class="form-horizontal text-center pad40">
    			<div class="form-group">
    		        	<h4>Select a Session:</h4>
    				<%= select_tag 'selected_session_id', options_from_collection_for_select(@sessions, 'id', 'start_time'), {:required => true} %>
    				<br>
        		</div>
        		<div class="form-group">
                		<%= button_tag(type: 'submit', class: "btn btn-lg btn-success", name: 'report') do %>
                			Print Report
                		<% end %>
    			</div>  
    		</form>
            </div>
        </div>
    </div>  
</body>
