<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "Student profile") %>

<!-- page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Student profile", 
										:subtitle => "view/edit student #{ @student.full_name }"} %>

<%= render 'form', student: @student, isEdit: true %>

<hr style="width:80%; padding-top: 10px;">

<!-- action button to Login Settings page -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h4>Assign default behavior squares for student: &nbsp; &nbsp; &nbsp;
			<%= link_to "Assign squares...", edit_roster_square_path(@student), 
						:class => "btn btn-lg btn-primary", :title => "Assign default behavior squares" %>
		</h4>
	</div>
</row>
