<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "Student profile") %>

<!-- page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Student profile", 
										:description => "view/edit a student"} %>

<%= render 'form', student: @student, isNew: false %> <!--Renders my form partial-->

<!-- Student squares action icon after the student info/form -->
<div class="row action-icon-row">
	<div class="col-xs-2 col-xs-offset-1 text-center" title="View/edit squares for student">

		<div class="action-sq i-action-gray1 center-block">
			<a href="<%= edit_roster_square_path(@student)%>"><span class="fa fa-4x fa-fw fa-square-o action-icon"></span></a>
		</div>
		<p>
			<a href="<%= edit_roster_square_path(@student)%>"><span class="student-icon-text">View Squares</span></a>
		</p>
	</div>   <!-- col -->
</div>   <!-- row -->
