<!-- authors: Ricky Perez & Michael Loptien -->
<% provide(:title, "Setup session") %>

<!-- page header -->
<%= render partial: 'student_page_header', 
			:locals => { 	:title => "Setup session", 
										:subtitle => "setup behavior sessions of student #{ @student.full_name }"} %>

<div class="row form-row2 pad20 content-text">
	<div class="col-xs-10">
		<p>Coming soon... 1) session interval (minutes); 
		2) session squares (interval counting); and 3) session notes</p>
	</div>
</div>

<!-- BACK TO SETUP TEACHER button -->
<div class="row form-row2 pad40">
	<div class="col-xs-10">
		<p>
			<%= link_to edit_student_path(@student), class: 'btn btn-lg btn-default navpanel-darkgray-button' do %>
		  	<span class="fa fa-fw fa-chevron-left"></span> Back to Setup student
		  <% end %>
		</p>
	</div>
</div>   <!-- row -->
