		
<!--     flash    -->
<!-- Meagan Moore -->
<div class="form-group">		
	<%= render 'layouts/flash' %>
</div>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_roster_square_path(@students) %> |
<%= link_to 'Back', roster_squares_path %>
