<h1>Graph#todo</h1>
<p>Find me in app/views/graph/todo.html.erb</p>
<h1>TODO:</h1>
<p><s>make graph controller w/ views</s></p>
<p><s>migrate code from test application</s></p>
<p><s>confirm graphs work</s></p>
<p><s>confirm heroku works</s></p>
<p><s>3</s>5 tests</p>
<p><s>code sample data</s></p>
<p>expand example page</p>
<p>revert /config/routes.rb and /app/controllers/application_controller.rb before merge w/ master</p>
<p>create postgresql branch, confirm graphs and heroku still work</p>
<p><s>implement group_by_date or find alternative</s></p>
<p>investigate asynchronous loading</p>

<h1>models</h1>
<p>student has_many sessions, session has_many events</p>