<!-- form/row to add a student to the teacher's access roster -->
<%= form_for(@teacher) do |f| %>

	<!-- add student label and spinner -->
	<div class="col-xs-4 form-group">
		<label>Add Student</label>
		<%= select_tag 'add_student_id', 
						options_from_collection_for_select(@students_not_in_roster, "id", "full_name"), 
						class: 'form-control form-input-tweak',
						:include_blank => 'Select student', :required => true %>
	</div>

	<!-- add student plus sign button-->
	<div class="col-xs-2 form-group text-left pad20">
		<%= button_tag(type: 'submit', class: "btn btn-success", name: "editb_add") do %>
			<span class="fa fa-plus icon-white"></span> 
		<% end %>
	</div>

<% end %>   <!-- add student form -->
