<!-- This form catches the view switches between your students and all. -->
<!-- I pulled this out because the home page was getting BIG/complex. -->

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">

<h4>Viewing choice: &nbsp;

	<!-- view toggle buttons: your students or all students -->
	<%= button_tag( id: "view-your-button", class: "btn btn-link home-view-button disabled", 
				title: "List students you've worked with before", disabled: true ) do %>
		Your students
	<% end %>

	<%= button_tag( id: "view-all-button", class: "btn btn-link home-view-button", 
				title: "List all students at your school") do %>
		All students
	<% end %>

	&nbsp; &nbsp; 

	<span class="fa fa-fw fa-lg fa-question-circle color-scheme-blue"
			data-toggle="popover" data-trigger="click" data-target="#popover" 
			title="Help: Viewing choice"></span>

</h4>

	</div>   <!-- col -->
</div>   <!-- row -->

<!-- popover is from Bootstrap; www.w3schools.com/bootstrap/bootstrap_popover.asp -->
<div id="popover" style="display:none;">
	<h4>Your students - <small>view students you've worked with before</small></h4>
	<h4>All students - <small>view all students at your school</small></h4>
</div>

<script>
	$(document).ready(function() {
		// view all students toggle button
		$("#view-all-button").click(function(){
    	$("#your-students-div").hide();
    	$("#all-students-div").show();
 			$("#view-all-button").toggleClass('disabled');
 			$("#view-your-button").toggleClass('disabled');
 			$("#view-all-button").prop("disabled", true); 
			$("#view-your-button").prop("disabled", false); 
		});
    // view your students toggle button
    $("#view-your-button").click(function(){
      $("#your-students-div").show();
      $("#all-students-div").hide();
      $("#view-all-button").toggleClass('disabled');
 			$("#view-your-button").toggleClass('disabled');
 			$("#view-all-button").prop("disabled", false); 
			$("#view-your-button").prop("disabled", true); 
		});
	});
</script>
