<div class="col-xs-1">
	<div class="header-sq i-<%= super_teacher.color%>" title="<%= super_teacher.full_name %> is Super. Yow!" >
		<span class="fa fa-<%= super_teacher.icon%> fa-2x teacher-icon"></span>
	</div>
</div>
