<div class="col-xs-1">
	<div class="header-sq i-<%= @current_teacher.color%>" title=<%= @current_teacher.screen_name %>>
		<span class="fa fa-<%= @current_teacher.icon%> fa-2x page-header-icon"></span>
	</div>
</div>
