<!--Authors: Kevin M, Tommy B (add changing password implementation) -->
<% provide(:title, "Teacher profile") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Teacher profile", 
										:subtitle => "Admin page 1, edit profile of #{@teacher.full_name}"} %>

<%= render 'form', teacher: @teacher, isEdit: true %>

<hr style="width:80%; padding-top: 10px;">

<!-- action button to Login Settings page -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h4>Admin page 2... change teacher login settings: &nbsp; &nbsp; &nbsp;
			<%= link_to "Login Settings...", 'edit2', 
						:class => "btn btn-lg btn-primary", :title => "Login Settings page" %>
		</h4>
	</div>
</row>
