<!--Authors: Kevin M, Tommy B (add changing password implementation) -->
<% provide(:title, "Edit teacher") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Edit teacher", 
										:subtitle => "edit attributes of teacher, #{@teacher.full_name}"} %>

<%= render 'form', teacher: @teacher, isEdit: true %>

<div class="form-spacer">	&nbsp;</div>
<hr class="form-spacer-line">

<!-- next step - button to Login Settings page -->
<div class="row form-row2">
	<div class="col-xs-10">
		<h4>Next step &mdash; change teacher login settings... &nbsp; &nbsp; &nbsp;
			<%= link_to "Login settings...", 'edit2', 
						:class => "btn btn-lg btn-primary", :title => "Login Settings page" %>
		</h4>
	</div>
</div>  <!-- row -->
