<!-- @author: Matthew O & Alex P  & Debra J-->
<% provide(:title, "Home") %>

<!-- page header -->
<%= render partial: 'home_page_header', :locals => { 	:title => "Home" } %>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h4>Select a student you'd like to work with. And GO!</h4>
	</div>
</div>

<!-- Things got too BIG, so home into into 3 separate partials -->

<!-- form to switch between all/your student views -->
<%= render 'form_home_views' %>

<!-- two choices: select one of your students, or select from all students -->
<% if @view_all %>
	<%= render 'form_home_all_students' %>
<% else %>
	<%= render 'form_home_your_students' %>
<% end %>


<!-- Control the selection and unselection of the student roster -->
<script>
	$(document).ready(function() {
		// when radio icon is clicked, set that select attribute to student ID
		$(".image-radio").click("click",function(){
		     $(this).attr('checked',true);
		     $("select[name='student_id']").val($(this).attr('id'));
		});

		// $('#student_id').change(function(){ 
		// 		$('input[name="student_roster"]').prop('checked', false);
		//     var button = document.getElementById("student" + $(this).val());
		//     $(button).trigger('click');
		// });

		// when radio button is clicked, enable the OK button 
		$('.view-radio').on('click', function() {
				$("#goto-button").removeClass('disabled');
				$("#goto-button").prop("disabled", false); 
		});

		// make the popover tooltip visible on hover
		$('[data-toggle="popover"]').popover({
        container: '#popover-here',
        content: $('#popover').html(),
        html: true
		})
	});
</script>
