<!-- @author: Matthew O & Alex P  & Debra J-->
<% provide(:title, "Home") %>

<!-- page header -->
<%= render partial: 'home_page_header', :locals => { 	:title => "Home" } %>

<!-- things got too BIG, so home into into 3 separate partials -->

<!-- form to switch between all/your student views -->
<%= render 'home_views_toggle' %>

<!-- Home page list students; the teacher selects one to work with. -->
<!-- There are two choices: 1) select one of your students, or -->
<!-- 2) select from all students at school. -->
<!-- The view toggle buttons (above) turn the display of these divs on and off -->
<div id="your-students-div">
	<%= render 'home_your_students' %>
</div>

<div id="all-students-div" style="display:none">
	<%= render 'home_all_students' %>
</div>
		

<!-- Control the selection and unselection of the student roster -->
<script>
	$(document).ready(function() {
		// when radio icon is clicked, set that select attribute to student ID
		$(".image-radio").click("click",function(){
		     $(this).attr('checked',true);
		     $("select[name='student_id']").val($(this).attr('id'));
		});

		// when radio button is clicked, enable the OK button 
		$('.view-radio').on('click', function() {
				$("#goto-button").removeClass('disabled');
				$("#goto-button").prop("disabled", false); 
		});
	});
</script>
