<!--Authors: Kevin M, Tommy B (add changing password implementation) -->
<% provide(:title, "Profile") %>

<!-- page header -->
<%= render partial: 'teacher_page_header', 
			:locals => { 	:title => "Profile", 
										:subtitle => "edit your teacher profile"} %>

<div class="row form-row2 navpanel-row pad20">

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-edit navpanel-blue"></span> Properties</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Review/edit your teacher properties.</p>
		    <p class="text-right">
		    	<%= link_to properties_path, :class => "btn btn-lg btn-default navpanel-blue-button" do %>
						Edit Properties <i class="fa fa-fw fa-chevron-right"></i>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="panel panel-default navpanel">
		  <div class="panel-heading">
		    <h3 class="panel-title navpanel-title"><span class="fa fa-lg fa-fw fa-lock navpanel-yelloworange"></span> Password</h3>
		  </div>
		  <div class="panel-body navpanel-body">
		    <p>Select a new password for your account.</p>
		    <p class="text-right">
		    	<%= link_to password_path, class: 'btn btn-lg btn-default navpanel-yelloworange-button' do %>
		    		Change password <span class="fa fa-fw fa-chevron-right"></span>
		    	<% end %>
		    </p>
		  </div>
		</div>   <!-- panel -->
	</div>

</div>   <!-- row -->
