<!-- Author: UX Team. Edited by Robert Herrera -->
<%= form_for(@teacher, :html => { :method => :updateSuper }) do |f| %>
		<div class="row vertical-align">
			<div class="form-group">
				<label class="control-label col-xs-5" for="selectSch">Super focus school:</label>
					<div class="col-xs-7">
						<%= f.select :school_id, @schools.map{|c| [c.full_name, c.id]}, class: 'form-control'%>
						<%= hidden_field_tag :hiddenVal, 'updatingFocus' %>
					</div>   <!-- col-->
	  		</div>   <!-- form group-->
		</div>   <!-- row -->

  <div class="actions">
	  <%= button_tag(type: 'submit', class: "btn btn-success") do %>  
	  	Change Focus School
	  <% end %>
  </div>
<% end %>
