<div class="col-xs-1">
	<div class="header-sq i-<%= @current_school.color%>" title="school=<%= @current_school.screen_name %>" >
		<span class="fa fa-2x fa=fw fa-<%= @current_school.icon%> page-header-icon"></span>
	</div>
</div>
