<!-- partial params are: button_color, fa_icon, button_text -->
<span class ="action-rectangle <%= button_color %>" >
  <span class="fa fa-fw fa-lg <%= fa_icon %>"></span>
  &nbsp; <%= button_text %>
</span>
