<footer>
	<!-- a little space at the end of each page to extend white content area -->
	<div style="padding-bottom: 5%">&nbsp;</div>

	<script>
		// make entire table row a hyperlink; source is Capstone Spring 2016:
		// https://github.com/noctrl-csc495-spring2016/Odyssey495/blob/master/app/views/layouts/_footer.html.erb
		$("tr[data-link]").click(function() {
		  window.location = this.dataset.link
		})
		// make Bootstrap help popover visible
		$('[data-toggle="popover"]').popover({
				content: $('#popover').html(), html: true
		})
	</script>
</footer>
